<!--    Ce fichier est le visuel visiteur du serveur, il contient les formulaires
        destinés à l'agriculteur. Les informations sont récoltés par le script formular.js
        et stockés dans une base de données
        La mise en forme du formulaire est effectuée dans le fichier formulaire.css  -->
<head>
    <!-- Penser à placer le nom de la startup dans le title -->
    <title>Mon copain le satellite</title>
    <meta charset="utf-8"></meta>
    <script async defer
        src="https://maps.googleapis.com/maps/api/js?signed_in=true"></script>
    <link rel="stylesheet" type="text/css" href="css/general.css"/>
    <link rel="stylesheet" type="text/css" href="css/formulaire.css"/>
    <script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="js/connect.js"></script>
    
</head>
<body>
    
    <!-- Penser à placer le nom de la startup dans le h1 -->
    <header class="enTete">
        <h1>Les couverts végétaux</h1>
    </header>
    
    <!-- Première image à droite, qui explique le fonctionnement de la startup -->
    <img id="explainImages" class="imgExplications" src="images/explications.jpg"/>

   

</body>