<!--    Ce fichier est le visuel du serveur, il contient les informations nécéssaire à l'admi por traiter la demande du client. Les informations sont récoltés par le script formular.js
        et stockés dans une base de données pas encore mise en place
        La mise en forme du formulaire est effectuée dans le fichier formulaire.css  -->
<head>
    <!-- Penser à placer le nom de la startup dans le title -->
    <title>Mon copain le satellite</title>
    <meta charset="utf-8"></meta>
    <script async defer
        src="https://maps.googleapis.com/maps/api/js?signed_in=true"></script>
    <link rel="stylesheet" type="text/css" href="css/general.css"/>
    <link rel="stylesheet" type="text/css" href="css/formulaire.css"/>
    <script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="js/connect.js"></script>
	<script src="js/formular.js"></script>
    


    
</head>
<body>
    <!-- Penser à placer le nom de la startup dans le h1 -->
    <header class="enTete">
        <h1>Les couverts végétaux</h1> 		
    </header>

    
    

   



<!-- la première étape permet à l'administrateur de rentrer le mot de passe et de passer à la page suivante -->

<div id="firstStep">
<div class="connect_box"> <!--écran d'entrée du mot de passe (firstep)-->

		 <img id="explainImages" class="imgadmin3" src="images/admin3.png"/>
        <input type="text" id="identifiant" placeholder="ID"><br/><br/>
         <input type="password" placeholder="Enter Password" id="password">
		 <input type="button" value = "Go!" id="bouton1" onclick="goSecondStep()";> 
		 
</div>
</div>


<div id="secondStep">

	<div id ="liste_deroulante"> <!--Liste des clients (secondstep)-->

	  <p>
		<h2>Séléctionnez le client</h2>
         Rechercher <input type = 'text' id='nouveauClient' placeholder="client"><input type="button" value="ok" onclick="rechercheNouveau('nouveauClient');lesCartesNouveau(); baseDeDonneesClient();" id="nouveauClientButton"/><br/><br/><br/>


        <label>Liste des clients :</label>
        <select id="deroulo" >


        </select>

        <input type="button" value="ok" onclick="rechercheNouveau('deroulo'); lesCartesNouveau();baseDeDonneesClient();"
                 id="nouveauClientButton"/>
      </p>
	</div>
</div>



<!-- en dessous 4e page-->

<div id=fourthStep>

<h2>LE CLIENT</h2>
<br/><br/>

<!-- en haut à gauche de la page on affiche le nom et le prenom du client sélectionner
le java script va se charger d'aller récupérer le bon client-->


<div id="AfficherNom"></div>
<!---->
<!---->
<!---->
<!---->

<!---->
<!---->
<!-- page 1: renseignement générale du client et de son champ-->
<!---->
<!---->
<!---->


<div id="renseignementClientPage1">

<div id="informationsPersonnellesClient"><h2>Informations personnelles du client</h2>

<div id="nomClient">Nom : 
</div><br/>
<div id="prenomClient">Prénom : </div><br/>
<div id="telephoneClient">Téléphone : </div><br/>
<div id="adresseMailClient">Adresse mail : </div><br/>
<div id="rueClient">Rue : </div><br/>
<div id="codePostalClient">Code Postal : </div><br/>
<div id="villeClient">Ville : </div>


</div>

<div id="informationsAgricolesClient">
    <h2>Informations agricoles du client</h2>

<h3>Parcelaire</h3><div id="parcelaireClient">

    <div id="nombreHectareClient">Nombre d'hectares : </div><br/>
    <div id="nombreParcelleClient">Nombre de parcelles : </div><br/>
    <div id="situationParcelleClient">Situation de la parcelle : </div><br/>
</div>

<h3>Souscrit</h3><div id="souscritClient">
        <div id="declarationPACClient">Déclaration PAC client : </div><br/>
    </div>

<h3>Parcelles</h3><div id="parcellesClient">
</div><br/>

<h3>Cartes</h3>

<div id="cartesClient"><input type="button" value="Voir" id="voirCarteClient" onclick="voirCarteClient()"> les cartes</div>

</div>
</div>

<!---->
<!---->
<!---->
<!--Page des cartes du client-->
<!---->
<!---->
<!---->



<div id="pageCarte">

<p id="aligner">

<div id="cartes">
    <a></a>la carte<br/>
    <div id="carte2"></div><br/>
</div>
<!--id: overlay est utiliser pour afficher la carte en grand, le javascript gère cela -->

<div id="overlay"></div>
</p>

<div id="retourPage">
    <input type="button" value="retour" id="retourPageCarte" 
    onclick="retour3()"> fiche client

</div>
</div>




<!---->
<!---->
<!-- deuxième page: elle concerne chaque parcelle en appuyant sur le lien de chaque parcelle l'admi peut alors disposer des informations concernant la parcelle-->
<!---->
<!---->




<div id="renseignementClientPage2">
<div id="mettreNumeroParcelle"></div>


<h3>Rotation</h3><div id="Rotation">
    <div id="culturePrecedenteClient">Culture précédente : </div><br/>
    <div id="cultureSuivanteClient">Culture suivante : </div><br/>
    <div id="dateRecolteClient">Date récolte précédente : </div><br/>
</div>


<h3>Fertilisation</h3>
<div id="fertilisation">
    <div id="planFumureClient">Plan de fumure : </div><br/>
    <div id="cartographieFertilisationClient">Cartographie de fertilisation : </div><br/>
    <div id="analyseSolClient">Analyse des sols : </div><br/>
    <div id="reliquatsHiverClient">Reliquats sortie d'hiver : </div><br/>
</div>

<h3>Couvert Végétal</h3>

<div id="couverVégétal">
    <div id="typeSemoirClient">Type de semoir du couvert : </div><br/>
    <div id="modeDestructionClient">Mode de destruction du couvert : </div><br/>
    <div id="problemeParcelleClient">Problème de la parcelle : </div><br/>
    </div>

<h3>Rendement</h3>
<div id="Rendement">
    <div id='leRendementClient'>Le rendement (Q/hectares) : </div><br/>
    <div id="cartographieRendementClient">Cartographie de rendement : </div><br/>

</div>

<h3>Remarque</h3>

<div id="remarqueClient">
    </div><br/><br/>

<div id="retour3">
    <input type="button" value="retour" id="retour3" onclick="retour3()"> fiche client

</div>
   </div>


<!---->
<!---->
<!---->
<!--La partie pour trouver les plantes adaptées pour les couverts végétaux

dans un premier temps l'administrateur choisit les entrées entre des valeurs possible-->
<!---->
<!---->
<!---->


<div id="resoudreProbleme">
    

<label>Quantité d'azote  </label>
        <select id="quantiteAzote">
            <option>Très Beaucoup
            </option>

            <option>Beaucoup
            </option>

            <option>Normal
            </option>

            <option>Peu
            </option>

            <option>Très Peu
            </option>

        </select>

<label>Quantité de carbone  </label>
        <select id="quantiteCarbone" >
             <option>Très Beaucoup
            </option>

            <option>Beaucoup
            </option>

            <option>Normal
            </option>

            <option>Peu
            </option>
            
            <option>Très Peu
            </option>
        </select>

<label>Compaction  </label>
        <select id="compaction" >
             <option>En Surface
            </option>

            <option>En Profondeur
            </option>

            <option>Horizon Compacté
            </option>

            <option>Normal
            </option>
            
            <option>Décompacté
            </option>
        </select>


<input type="button" value="valider" id="validerChoix" onclick="voirResultat();afficherResultat()"><input type="button" value="recommencer" id="recommencer" onclick="recommencer()">


</div>



<!---->
<!---->
<!---->
<!--Ici la page de résultatmontrant les plantes à insérer -->
<!---->
<!---->
<!---->


<div id="resultat"> Le résultat pour chaque plante correspond au pourcentage de la quantité maximale de la plante


   



</div>



 <script src="js/infoClient.js"></script>

<!---->
<!---->
<!---->
<!---->




<br/><br/><br/><br/><br/><br/>




<!--on revient sur la quatrième page
boutton retour pour revenir sur la troisième page si l'admi s'est trompé de client
boutton envoyer mail qui permet d'arriver sur la cinquième page cad la page du formulaire d'envoie de mail -->


<div id="retour">
    <input type="button" value="retour" 
    onclick="retour();element4();" 
    id = "retourButton"/>à la liste des clients
    </div>

    

<div id="sendMail">
     <input type="button" value="Envoyer" onclick="envoyerMail()" id = "envoyerButton"/>un mail


    </div>



<br/><br/>

</div>


<!---->
<!---->
<!-- la cinquième étapes-->
<!---->
<!---->
<!---->


<div id="fifthStep">

    <!-- le formulaire pour envoyer le mail, avec à insérer adresse de l'admin, adresse du client son mot de passe le texte que l'admi veut envoyer, il peut joindre un fichier en appuyant sur le boutton 'joindre'
        pour l'instant ce n'est pas encore fait
        et enfin il envoie le message en ppuyant sur 'envoyer'-->


      <div class="form-group" id="divMain">

            <h2>Formulaire d'envoie de mail</h2>
            <br>

            <!-- method= form action= "/email" permet d'envoyer les données à node.js grace à la fonction bodyparser
            tous les élément à l'intérieur de form peuvent être récupérer du coté node.js -->

            <form class="form-vertical" role="form" method="post" action="/email">
                <div class="form-group">
                    <div class="col-sm-10">
                        <input type="email" id="adresseMail" name="sender" id="sender" class="form-control" placeholder="Votre adresse mail"/>
                    </div>
                </div>
                 <div class="form-group">
                    <div class="col-sm-10">
                        <input type="password" name="motDePasse" id="motDePasse" class="form-control" placeholder="Votre mot de passe"/>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-10">
                        <input type="emaill" name="destination" id="destination" class="form-control" placeholder="Adresse mail du destinataire"/>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-10">
                        <input type="text" name="subject" id="subject" class="form-control" placeholder="L'objet du mail"/>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-sm-10">

                     <textarea rows="11" name="message" id="message" class="form-control" placeholder="Le contenu de votre mail"></textarea>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-sm-10">
                        <button type="submit" class="btn btn-primary" id="envoyerButton" onclick="mettreClientBoutListe();
            faireLaListe()">Envoyer</button>

                      
                    </div>
                </div>
                  

            </form>
              <button type="submit" id="joindreButton" onclick="choisirFichier()">Joindre</button>
                <input type="file" id="joindre"  name="uploads[]" onclick= "telechargerFichier()" >   
           <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>  
        </div>


<!--bouton retour pour revenir à la page précédente-->



<div id="retour2">
    <input type="button" value="retour" id="retourButton" onclick="retour2();element5();" >
    Voir client
</div>

</div>





</body>
