<!--    Ce fichier est le visuel du serveur, il contient les informations nécéssaire à l'admi por traiter la demande du client. Les informations sont récoltés par le script formular.js
        et stockés dans une base de données pas encore mise en place
        La mise en forme du formulaire est effectuée dans le fichier formulaire.css  -->
<head>
    <!-- Penser à placer le nom de la startup dans le title -->
    <title>Mon copain le satellite</title>
    <meta charset="utf-8"></meta>
    <script async defer
        src="https://maps.googleapis.com/maps/api/js?signed_in=true"></script>
    <link rel="stylesheet" type="text/css" href="css/general.css"/>
    <link rel="stylesheet" type="text/css" href="css/formulaire.css"/>
    <script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="js/connect.js"></script>
	<script src="js/formular.js"></script>
    
</head>
<body>
    <!-- Penser à placer le nom de la startup dans le h1 -->
    <header class="enTete">
        <h1>Les couverts végétaux</h1> 		
    </header>

    
    

   

</body>

<!-- la première étape permet à l'administrateur de rentrer le mot de passe et de passer à la page suivante -->

<div id="firstStep">
<div class="connect_box"> <!--écran d'entrée du mot de passe (firstep)-->

		 <img id="explainImages" class="imgadmin3" src="images/admin3.png"/>
        <input type="text" id="identifiant" placeholder="ID">
         <input type="password" placeholder="Enter Password" id="password">
		 <input type="button" value = "Go!" id="bouton1" onclick="goSecondStep()"> 
		 
</div>
</div>


<div id="secondStep">

	<div id ="liste_deroulante"> <!--Liste des clients (secondstep)-->

	  <p>
		<h2>Séléctionnez le client</h2>
         Rechercher <input type = 'text' id='nouveauClient' placeholder="client"><input type="button" value="ok" onclick="rechercheNouveau('nouveauClient'); elementDossierNouveau();lesCartesNouveau();" id="nouveauClientButton"/><br/><br/><br/>
        <label>Liste des clients :</label>
        <select id="deroulo">
          <option value="" id="choix"  disabled selected>Sélectionnez ici</option>
          <option value="Jean-Pierre Bidule">Jean-Pierre Bidule</option>
          <option value="Arnaud Machin">Arnaud Machin</option>
          <option value="x">x</option>
		  <option value="y">y</option>
		  <option value="z">z</option>
        </select><input type="button" value="ok" onclick="rechercheNouveau('deroulo'); elementDossierNouveau();lesCartesNouveau();"
                 id="nouveauClientButton"/>
      </p>
	</div>
</div>

<!--la troisième page permet de selectionner un client, lorsque celui ci est sélectionner l'admi appui sur ok et plusieurs fonction vont se lancer, on arrive ensuite sur la quatrième page -->

<div id="thirdStep">
<h2>LISTE DES CLIENTS</h2>
</br>
  
  <table>
    <thead id="recherche">
       <!--ici il y a une différence entre client nouveau et client traité -->
       <tr> 
            <th> Rechercher <input type="text" placeholder="nouveau client" id="nouveauClient"/>
        
                <input type="button" value="ok" onclick="rechercheNouveau(); elementDossierNouveau();lesCartesNouveau();"
                 id="nouveauClientButton"/>

            <!-- les trois fonction vont se lancer lorsque l'admi appuie sur le boutton ok, c'est le formular.js qui va exécuter les fonctions-->

            </th>

                <th> Rechercher <input type="text" placeholder="client traité" id="clientTraite"/>
       
                <input type="button" value="ok" onclick="rechercheAncien();elementDossierAncien();lesCartesAncien();"   
                id="ClientTraiteButton"/>
            </th>
    
        </tr>
    </thead>



</table>
<br/>
<br/>


<table>
    <thead>

     <!-- on insère un tableau; à gauche nouveau client à droite ancien client. -->
       <tr>
            <th><div id="ouvrirNouveau">Nouveau Client
            </div>
            </th>

            <th><div id="ouvrirAncien">Client Traité 
            </div></th>
        </tr>
    </thead>

  <!--ensuite on insère les deux block en dessous pour ouvrir la liste des nouveaux clients ou la liste des anciens clients, ceci n'a pas encore été réalisé pour l'instant il n'y a que le visuel html et css-->

    <tbody id="ouvrir">

        <tr>
            <td><div id="listeNouveau">Liste des nouveaux clients<br/><input type="button" value="ouvrir" onclick="ouvrirNouveau()" id="ouvrirNouveauButton"/>
           </div></td>

        <td><div id="listeAncien">Liste des clients traités<br/><input type="button" value="ouvrir" onclick="ouvrirAncien()" id="ouvrirAncienButton"/>
        </div>

        </td>
    </tr>


    </tbody>



</table>


<!--ici il faut ouvrir la liste des dossiers clients-->

</div>






<!-- en dessous 4e page-->

<div id=fourthStep>

<h2>LE CLIENT</h2>
<br/><br/>

<!-- en haut à gauche de la page on affiche le nom et le prenom du client sélectionner
le java script va se charger d'aller récupérer le bon client-->


<div id="AfficherNom"></div><br/><br/>

<!--id: aligner permet de mettre sur la même ligne les éléments du dossier et la carte -->

<p id="aligner">

<div id="elementDossier">
    les éléments du dossier<br/>
    </div>

<div id="cartes"><a></a>la carte<br/><div id="carte2"></div><br/></div><!--id: overlay est utiliser pour afficher la carte en grand, le javascript gère cela -->
<div id="overlay"></div>
</p><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>


<!--on revient sur la quatrième page
boutton retour pour revenir sur la troisième page si l'admi s'est trompé de client
boutton envoyer mail qui permet d'arriver sur la cinquième page cad la page du formulaire d'envoie de mail -->


<div id="retour">
    <input type="button" value="retour" 
    onclick="retour();element4();" 
    id = "retourButton"/>à la liste des clients
    </div>

    

<div id="sendMail">
     <input type="button" value="Envoyer" onclick="envoyerMail()" id = "envoyerButton"/>un mail






    </div>


<br/><br/>

</div>


<!---->
<!---->
<!-- la cinquième étapes-->
<!---->
<!---->
<!---->


<div id="fifthStep">

    <!-- le formulaire pour envoyer le mail, avec à insérer adresse de l'admin, adresse du client son mot de passe le texte que l'admi veut envoyer, il peut joindre un fichier en appuyant sur le boutton 'joindre'
        pour l'instant ce n'est pas encore fait
        et enfin il envoie le message en ppuyant sur 'envoyer'-->


      <div class="form-group" id="divMain">

            <h2>Formulaire d'envoie de mail</h2>
            <br>

            <!-- method= form action= "/email" permet d'envoyer les données à node.js grace à la fonction bodyparser
            tous les élément à l'intérieur de form peuvent être récupérer du coté node.js -->

            <form class="form-vertical" role="form" method="post" action="/email">
                <div class="form-group">
                    <div class="col-sm-10">
                        <input type="email" id="adresseMail" name="sender" id="sender" class="form-control" placeholder="Votre adresse mail"/>
                    </div>
                </div>
                 <div class="form-group">
                    <div class="col-sm-10">
                        <input type="password" name="motDePasse" id="motDePasse" class="form-control" placeholder="Votre mot de passe"/>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-10">
                        <input type="emaill" name="destination" id="destination" class="form-control" placeholder="Adresse mail du destinataire"/>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-10">
                        <input type="text" name="subject" id="subject" class="form-control" placeholder="L'objet du mail"/>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-sm-10">

                     <textarea rows="11" name="message" id="message" class="form-control" placeholder="Le contenu de votre mail"></textarea>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-sm-10">
                        <button type="submit" class="btn btn-primary" id="envoyerButton">Envoyer</button>

                      
                    </div>
                </div>
                  

            </form>
              <button type="submit" id="joindreButton" onclick="choisirFichier()">Joindre</button>
                <input type="file" id="joindre"  name="uploads[]" onclick= "telechargerFichier()" >   
           <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>  
        </div>


<!--bouton retour pour revenir à la page précédente-->



<div id="retour2">
    <input type="button" value="retour" id="retourButton" onclick="retour2();element5();" >
    Voir client
</div>

</div>






</body>

