/*  MISE EN FORME DU FORMULAIRE DE DONNEES 
    Les différentes étapes sont indépendantes, elles suivent la nomenclature du index.html
    Il y a aussi une partie Checkbox, qui permet la mise en forme des cases à cocher,
    une partie liste déroulante, qui permet la mise en forme des listes déroulantes
    et enfin une partie RESPONSIVE, qui gère la mise en forme pour mobile et tablette */

.imgadmin3
{
    display:inline-block;
    position: relative;
    margin: 2% 4% 2% auto;
    padding: 2%;
    height: 20vh;
    width: 20vh;
	margin-left : 540px;
    border-radius: 5px;
    background-color: rgba(255,255,255,0.8);
    float: center;
}
#firstStep{display: block;}

#bouton1 {
padding: 5px 10px; 
background: brown; 
color: white; 
border-radius: 5px;
}
#bouton1:hover {
background: green; 
}



#password, #identifiant
{
    margin-left : 549px;
}
h1
{
    color: brown;
    margin-left: 400px;
    font-size: 48;
	margin-top : 20px;
}
h2
{

    color: #9ACD32;
    font-size: 25;
	
	
}


#Deroulo
{
	display:inline-block;
    -moz-appearance: none;
    -webkit-appearance: none;
    overflow: hidden;
    background: url(../images/newArrow.png) no-repeat center rgba(128,128,128,0.3);
    text-align: center;
}

option[value=""][disabled] {
  display: none;
}

#secondStep
{
    display: none;
    background-color: rgba(255,255,255,0.8);
    box-shadow: 0 0 16px grey;
    border-radius: 5px;
	margin-top : 60px;
	margin-left : 290px;
    position: relative;
    text-align: center;
    width: 120vh;
	height : 30vh;
}

/**/
/**/
/**/
/*EN DESSOUS LA PAGE 5*/
/**/
/**/
/**/
/**/


#thirdStep
{
	
    display: none;
    margin: 2% auto 2% 4%;
    padding: 2%;
    height: auto;
    width: 70vh;
    background-color: rgba(255,255,255,0.8);
    box-shadow: 0 0 16px grey;
    border-radius: 5px;
    position: relative;
    margin: 1% auto 1% auto;
    text-align: center;


}


#recherche
{
	display: inline-block;
    position: relative;
    margin-left: 30px ;
    margin-right: auto;
    text-align: left;

}

#nouveauClient, #deroulo, #nouveauClientButton, #clientTraite, 
#clientTraiteButton, #envoyerButton, #joindreButton, #joindre
{
	display: inline-block;
	
	background : none;
	font-size: 2vh;
    border-radius: 1vh;
    height: 6vh;
    min-width: 5vh;
    text-align: center;


}

 #ouvrirAncienButton, #ouvrirNouveauButton
 {
 	display: inline-block;
	position: relative;
	margin-left: 30px;
	background : none;
	font-size: 2vh;
    border-radius: 1vh;
    height: 6vh;
    width: 10vh;
 }

#ouvrirAncien
{
	position: relative;
	margin-right:20px;
}

#ouvrirNouveau
{
	position: relative;
	margin-right: 40px;
	
}

#listeAncien
{
	position: relative;
	margin-left: 50px;
}

#listeNouveau
{
	position: relative;
	margin-left: 30px;
}



/**/
/**/
/**/
/**/
/* EN DESSOUS LA PAGE 4 */
/**/
/**/
/**/
/**/




#fourthStep
{
    
    display: none;
    margin: 2% auto 2% 4%;
    padding: 2%;
    height: auto;
    width: 70vh;
    background-color: rgba(255,255,255,0.8);
    box-shadow: 0 0 16px grey;
    border-radius: 5px;
    position: relative;
    margin: 1% auto 1% auto;
    text-align: center;


}


#envoyer, #ecrireMessage, #retourButton
 {
    display: inline-block;
    position: relative;
    margin-left: 30px;
    background : none;
    font-size: 2vh;
    border-radius: 1vh;
    height: 6vh;
    width: 10vh;
 }

 #ecrireMessage
 {
    height: 20vh;
    width: 60vh;
 }

 #envoyer
 {
    position: relative;
    margin-left: 320px;
    width: 15vh;
 }

 #aligner
 {
    text-align: center;
 }

#elementDossier
{
    float: left;
  


     
 }

#cartes
{
    float: right;
}
   
    





#afficherNom
{
    text-align: left;
}




#retour
{
    position: relative;
    

}


#lienCarte
{
    position: relative;
    max-width: 250px;
    max-height: 300px;
   
}


#overlay {
    display : none; /* Par défaut, on cache l'overlay */
    position: absolute;
    top: 0; 
    left: 0;
    width: 100%; 
    height: 100%;
    text-align: center; /* Pour centrer l'image que l'overlay contiendra */

    /* Ci-dessous, nous appliquons un background de couleur noire et d'opacité 0.6. Il s'agit d'une propriété CSS3. */
    background-color: rgba(0,0,0,0.6);
}

#overlay img {
    margin-top: 100px;
}

#nouveauLien
{
            
    float: right;
  

}






/**/
/**/
/**/
/*EN DESSOUS LA PAGE 5*/
/**/
/**/
/**/
/**/

#fifthStep
{
    
    display: none;
    margin: 2% auto 2% 4%;
    padding: 2%;
    height: auto;
    width: 70vh;
    background-color: rgba(255,255,255,0.8);
    box-shadow: 0 0 16px grey;
    border-radius: 5px;
    position: relative;
    margin: 1% auto 1% auto;
    text-align: center;
   
}

#sendMail
{
    float: right;
    
}

#retour
{
    float: left;
}

#retour2
{
    text-align: left;
}
#message, #subject, #destination, #adresseMail, #motDePasse
{
    display: inline-block;
    
    background : none;
    font-size: 2vh;
    border-radius: 1vh;
    height: 6vh;
    min-width: 30vh;
}





#message
{
    width: 50vh;
    height: 30vh;
}

#joindre
{
    display: none;
}

#joindreButton
{
    margin-left: -40vh;
    margin-top: -8vh;
}







