/*  MISE EN FORME DU FORMULAIRE DE DONNEES 
    Les différentes étapes sont indépendantes, elles suivent la nomenclature du index.html
    
    Pour adapter l'image aux différentes taille d'image utilisé vh et vw pour les positions
    ces unités correspondent à un % de la taille de l'écran*/

.imgadmin3
{
    display:inline-block;
    position: relative;
    margin:2vw;
    padding: 2vw;
    height: 20vh;
    width: auto;
    margin-left : 43vw;
    border-radius: 5vw;
    background-color: rgba(255,255,255,0.8);
    float: center;
}
#firstStep{display: block;}

#bouton1 {
height: 5vh;
width: 5vw; 
background: brown; 
color: white; 
border-radius: 1vw;
}
#bouton1:hover {
background: green; 
}



#password, #identifiant
{
    margin-left : 45vw;
    border-radius: 2vw;
    height: 5vh;
    text-align: center;

}
h1
{
    color: brown;
    text-align: center;
    font-size: 48;
    margin-top : 5vh;

}
h2
{
    text-align: center;
    color: #9ACD32;
    font-size: 25;
    
    
}


#Deroulo
{
    display:inline-block;
    -moz-appearance: none;
    -webkit-appearance: none;
    overflow: hidden;
    background: url(../images/newArrow.png) no-repeat center rgba(128,128,128,0.3);
    text-align: center;
}

option[value=""][disabled] {
  display: none;
}

#secondStep
{
    display: none;
    background-color: rgba(255,255,255,0.8);
    box-shadow: grey;
    border-radius:5vw;  
    text-align: center;
    padding: 1vw;
    width: 50vw;
    margin-left:25vw;
    margin-top: 10vh;
    
}

/**/
/**/
/**/
/*EN DESSOUS LA PAGE 3*/
/**/
/**/
/**/
/**/


#thirdStep
{
    
    display: none;
    margin: 2% auto 2% 4%;
    padding: 2%;
    height: auto;
    width: 70vh;
    background-color: rgba(255,255,255,0.8);
    box-shadow: 0 0 16px grey;
    border-radius: 5px;
    position: relative;
    margin: 1% auto 1% auto;
    text-align: center;


}


#recherche
{
    display: inline-block;
    position: relative;
    margin-left: 30px ;
    margin-right: auto;
    text-align: left;

}

#nouveauClient, #deroulo, #nouveauClientButton, #clientTraite, 
#clientTraiteButton, #envoyerButton, #joindreButton, #joindre,
#voirCarteClient, #retourPageCarte
{
    display: inline-block;
    
    background : none;
    font-size: 2vh;
    border-radius: 1vh;
    height: 6vh;
    min-width: 5vh;
    text-align: center;


}
#retourPage
{
    float:left;
    
}


 

/**/
/**/
/**/
/**/
/* EN DESSOUS LA PAGE 4 */
/**/
/**/
/**/
/**/




#fourthStep
{
    
    display: none;
    padding: 2vw;
    border-radius: 5vw;
    width:70vw;
    background-color: rgba(255,255,255,0.8);
    box-shadow: 0 0 16px grey;
    position: relative;
    margin: 10vw;
    text-align: center;


}


#envoyer, #ecrireMessage, #retourButton
 {
    display: inline-block;
    position: relative;
    margin-left: 30px;
    background : none;
    font-size: 2vh;
    border-radius: 1vh;
    height: 6vh;
    width: 10vh;
 }

 #ecrireMessage
 {
    height: 20vh;
    width: 60vh;
 }

 #envoyer
 {
    position: relative;
    margin-left: 320px;
    width: 15vh;
 }

 #aligner
 {
    text-align: center;
 }

#elementDossier
{
    float: left;
  


     
 }



#afficherNom
{
    text-align: left;
}




#retour
{
    position: relative;
    

}


#lienCarteNDVI, #lienCarteMCARI, #lienCarteVTCI, #lienCarteMTVI2,
#lienCarteBI, #lienCarteGI, #lienCarteWI, #lienCarteDEM,#lienCarteCTI
{
    position: relative;
    max-width: 25vw;
    max-height: 25vh;
   
}


#overlay
{
    display : none; /* Par défaut, on cache l'overlay */
    position: absolute;
    top: 0; 
    left: 0;
    width: 100%; 
    height: 100%;
    text-align: center; /* Pour centrer l'image que l'overlay contiendra */

    /* Ci-dessous, nous appliquons un background de couleur noire et d'opacité 0.6. Il s'agit d'une propriété CSS3. */
    background-color: rgba(0,0,0,0.6);
}

#overlay img
{
    margin-top: 25vw;
    width: auto;
    height: 80vh ;

   

}

#nouveauLienNDVI, #nouveauLienMCARI, #nouveauLienMTVI2,
#nouveauLienBI,#nouveauLienGI,#nouveauLienWI,#nouveauLienVTCI,
#nouveauLienDEM,#nouveauLienCTI
{
            
    float: right;
  

}






/**/
/**/
/**/
/*EN DESSOUS LA PAGE 5*/
/**/
/**/
/**/
/**/

#fifthStep
{
    
    display: none;
    margin: 2% auto 2% 4%;
    padding: 2%;
    height: auto;
    width: 70vh;
    background-color: rgba(255,255,255,0.8);
    box-shadow: 0 0 16px grey;
    border-radius: 5px;
    position: relative;
    margin: 1% auto 1% auto;
    text-align: center;
   
}

#sendMail
{
    float: right;
    
}

#retour
{
    float: left;
}

#retour2
{
    text-align: left;
}
#message, #subject,#joindre, #destination,#nomClient, #adresseMail, #motDePasse
{
    display: inline-block;
    
    background : none;
    font-size: 2vh;
    border-radius: 1vh;
    height: 6vh;
    min-width: 30vh;
}





#message
{
    width: 50vh;
    height: 30vh;
}


#joindreButton
{
    margin-left: -40vh;
    margin-top: -8vh;
}


#informationsPersonnellesClient, #informationsAgricolesClient
{
    display: inline-block;
    padding: 2vw;
    border-radius: 5vw;
    width:60vw;
    background-color: rgba(255,255,255,0.8);
    box-shadow: 0 0 16px grey;    
    margin-top: 10vh;
    margin-left: 2vw;
    text-align: center;

   
   

  
}

#renseignementClientPage2
{
    display: none;
    text-align: center;
}

#retour3
{
        display: inline-block;
    
    background : none;
    font-size: 2vh;
    border-radius: 1vh;
    height: 6vh;
    min-width: 5vh;
    text-align: center;


}

#nomDuClient, #prenomDuClient, #adresseMailDuClient, #telephoneDuClient
, #rueDuClient, #codePostalDuClient, #villeDuClient, #nombreHectareDuClient, 
#nombreParcelleDuClient, #situationParcelleDuClient,
#declarationPACDuClient, #culturePrecedenteDuClient,
#cultureSuivanteDuClient, #dateRecolteDuClient,
#planFumureDuClient, 
#cartographieFertilisationDuClient, #cartographieRendementDuClient,
#leRendementDuClient, #problemeParcelleDuClient,
#modeDestructionDuClient, #typeSemoirDuClient,
#analyseSolDuClient, #reliquatsHiverDuClient,
#remarqueDuCient

{
   display: inline-block;
}

#nomClient,#prenomClient,#adresseMailClient,#telephoneClient
,#rueClient,#codePostalClient,#villeClient,#nombreHectareClient,#nombreParcelleClient,#situationParcelleClient,
#declarationPACClient,#culturePrecedenteClient,
#cultureSuivanteClient,#dateRecolteClient,
#planFumureClient,#cartographieFertilisationClient,#cartographieRendementClient,
#leRendementClient,#problemeParcelleClient,
#modeDestructionClient,#typeSemoirClient,
#analyseSolClient,#reliquatsHiverClient,
#remarqueCient
{
    

   
    }


#pageCarte
{
    display: none;
    padding: 2vw;
    border-radius: 5vw;
    width:60vw;
    min-height : 40vh;
    background-color: rgba(255,255,255,0.8);
    box-shadow: 0 0 16px grey;    
    margin-left: 2vw;
    margin-top: 5vh;
}


#renseignementClientPage2
{
    
    padding: 2vw;
    border-radius: 5vw;
    width:60vw;
    background-color: rgba(255,255,255,0.8);
    box-shadow: 0 0 16px grey;    
    margin-top: 10vh;
    margin-left: 2vw;
}



#resoudreProbleme
{

    display: inline-block;
    padding: 2vw;
    border-radius: 5vw;
    width:60vw;
    background-color: rgba(255,255,255,0.8);
    box-shadow: 0 0 16px grey;    
    margin-top: 10vh;
    margin-left: 2vw;
}

#quantiteAzote, #quantiteCarbone, #compaction
{
        
  
    background : none;
    font-size: 2vh;
    border-radius: 1vh;
    height: 6vh;
    width: 15vw;
}

#compaction
{
    margin-top: 3vh;
}


#validerChoix
{
    background : none;
    font-size: 2vh;
    border-radius: 1vh;
    height: 6vh;
    width: 10vw;
    margin-top: 1vh;

}

#resultat
{
    display: none;
    padding: 2vw;
    border-radius: 5vw;
    width:60vw;
    background-color: rgba(255,255,255,0.8);
    box-shadow: 0 0 16px grey;    
    margin-top: 10vh;
    margin-left: 2vw;


}
#retourClientResultat
{
 
    background : none;
    font-size: 2vh;
    border-radius: 1vh;
    height: 6vh;
    width: 8vw;
}

#recommencer
{
    display:none;
    background : none;
    font-size: 2vh;
    border-radius: 1vh;
    height: 6vh;
    width: 15vw;
    margin-top: 1vh;

}

#encadrerText
{
    text-align: center;
}