/*  MISE EN FORME GENERALE DU VISUEL ADMINISTRATEUR
    définition du background et du style des titres */
*
.enTete
{
    font-family: "calibri";
    
}

body
{
    min-height: 100vh;
    background-image: url(../images/covercrops.jpg);
    background-size: cover;

}

